<div class="modal fade" data-backdrop="false" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="modalDeleteLabel" a aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h4 class="modal-title" id="modalDeleteLabel">操作提示</h4>
            </div>
            <div class="modal-body">
            删除数据将无法恢复，确认删除该记录吗？
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button class="btn btn-danger btn-ok" >确认删除</button>
            </div>
        </div>
    </div>
</div>