{% extends "bootstrap/base.html" %}

{% block title %}旅游行程宝{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/clockpicker/bootstrap-clockpicker.min.css">
{% endblock %}

{% block scripts %}
{{ super() }}
    <script type="application/javascript" src="../static/dataapi.js"></script>
    <script type="application/javascript" src="../static/jquery.qrcode.min.js"></script>
    <script type="application/javascript" src="../static/clockpicker/bootstrap-clockpicker.js"></script>
    <script>
        $('.clockpicker').clockpicker();
    </script>
{% endblock %}

{% block content %}
<div class="input-group clockpicker" data-autoclose="true">
    <input type="text" class="form-control" value="13:14">
    <span class="input-group-addon">
        <span class="glyphicon glyphicon-time"></span>
    </span>
</div>
        <div class="input-group clockpicker">
        <input type="text" class="form-control" value="09:30">
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-time"></span>
        </span>
    </div>

{% endblock %}
