{% for item in items %}
    <div id="{{ item.id }}" class="col-xs-12 col-sm-6 col-md-3" style="margin-bottom: 20px;">
        <div class="btn btn-default center-block list-group-item-{{("success","info","warning","danger")|random()}}"  style="width:220px;">
            <div style="position:relative;">
                <a class="icon-day glyphicon glyphicon-new-window" onclick="do_toTravel({{ item.id }})"></a>
                <a class="icon-edit glyphicon glyphicon-edit" onclick="do_editTravel({{ item.id }})"></a>
                <a class="icon-del glyphicon glyphicon-trash" onclick="do_delTravel({{ item.id }})"></a>
                <p class="text-center" style="font-size:80px;font-weight:bold;overflow: hidden;white-space: nowrap;width: 80px;" >{{ item.name }}</p>
                <p id="txtProName" class="text-center" style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;" >{{item.name}}</p>
                <p id="txtProDay" style="font-size:15px;font-weight:bold;position:absolute;right: 0px;top: 70px;">{{ item.day }}</p>
                <p id="txtProEvent" style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;" >行程:{{ item.event }}</p>
                <p id="txtProPrice" style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;" >费用:{{ item.price }}</p>
            </div>
        </div>
    </div>
{% endfor %}