<a id="day{{ itemDay.id }}" href="'" tabId="tab{{ itemDay.id }}" value="{{ itemDay.id }}"  class="list-group-item list-group-item-nav text-center  {{ day_active }}" data-toggle="tab" onclick="do_itemAcitve(this)" >
    <span class="daytext" >{{ day_str }}</span>
    <span class="glyphicon glyphicon-trash" style="float: right;" onclick="do_delDay({{ itemDay.id }})"></span>
    <span id="lblDayName{{ itemDay.id }}" class="center-block " style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap; " >{{ itemDay.name }}</span>
</a>