<a id="itemPoint{{ itemPoint.id }}" value="{{ itemPoint.id }}" ptype="{{ itemPoint.type }}" pstratt="{{ itemPoint.stratt }}"
   pstratc="{{ itemPoint.stratc }}"   pstratp="{{ itemPoint.stratp }}"   pendc="{{ itemPoint.endc }}"  pendt="{{ itemPoint.endt }}"
   pendp="{{ itemPoint.endp }}"    ptptrain="{{ itemPoint.tptrain }}"    ptptrainevent="{{ itemPoint.tptrainevent }}"
   ptptrainsp="{{ itemPoint.tptrainsp }}"  ptrdistance="{{ itemPoint.trdistance }}" ptransport="{{ itemPoint.transport }}"
   ptrtime="{{ itemPoint.trtime }}" ptrevent="{{ itemPoint.trevent }}" ptrdistance="{{ itemPoint.trdistance }}"
   href="#" class="list-group-item list-group-item-separate" >
    <span class="glyphicon glyphicon-trash" style="float: right;margin-right: 10px" onclick="do_delPoint('itemPoint{{ itemPoint.id }}')" ></span>
    <span class="glyphicon glyphicon-edit"  style="float: right;margin-right: 20px" onclick="do_editPoint('{{ itemPoint.id }}')" ></span>
    <span class="glyphicon glyphicon-chevron-down"  style="float: right;margin-right: 30px" onclick="do_showPointDec('itemPointDec{{ itemPoint.id }}')" ></span>
    <h4 id="itemPointName{{ itemPoint.id }}" class="list-group-item-heading">{{ itemPoint.name }}</h4>
    <p id="itemPointDec{{ itemPoint.id }}" class="list-group-item-separate" style="display: none;">{{ itemPoint.event }}</p>
    <div class="list-group-item-text" style="margin-bottom: 20px;">
        <span class="glyphicon glyphicon-send" id="itemptransport{{ itemPoint.id }}"  style="float: left;margin-left: 15px">{{ itemPoint.transport }}</span >
        <span class="glyphicon glyphicon-time" id="itemptrtime{{ itemPoint.id }}"  style="float: left;margin-left: 15px">{{ itemPoint.trtime }}</span >
        <span class="glyphicon glyphicon-dashboard" id="itemptrdistance{{ itemPoint.id }}"  style="float: left;margin-left: 15px">{{ itemPoint.trdistance }}</span >
        <span class="glyphicon glyphicon-saved" id="itemptrevent{{ itemPoint.id }}"  style="float: left;margin-left: 15px">{{ itemPoint.trevent }}</span>
        <span class="glyphicon glyphicon-edit" style="float: left;margin-left: 15px" onclick="do_eidtPointJT('{{ itemPoint.id }}')" data-toggle="modal" data-target="#editTrafficModal"  >
            编辑
        </span>
    </div>
</a>