<div class="tab-pane {{ day_active }}" id="tab{{ itemDay.id }}" value="'{{ itemDay.id }}'"  >
    <h4 style="padding-left: 20px;height: 20px;"  >
        <span class="glyphicon glyphicon-edit" style="padding-right: 10px;cursor: pointer;" onclick="do_editDay('{{ itemDay.id }}')" ></span>
        {{ day_str }}
        <span id="tabDayName{{ itemDay.id }}" style="padding-left: 10px;" >{{ itemDay.name }}</span>
    </h4>
    <div class="list-group" style="padding-left: 0px;padding-right: 5px;margin-bottom:0px;width: 100%;" >
        {% for itemPoint in lypoint %}
            {% if itemPoint.did == itemDay.id %}
                {% include 'list-point.html' %}
            {% endif %}
        {% endfor %}
    </div>
    <p id="tabDayDec{{ itemDay.id }}"  style="padding-left: 20px;padding-top: 10px;">{{ itemDay.dayevent }}</p>
</div>