{% extends "bootstrap/base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/fontawesome/css/fontawesome-all.css">
    <style type="text/css">
        .header{
            position: relative;
            background-color: #f5f5f5;
            margin-bottom: 15px;
        }

        .header-shadow{
            box-shadow: 0px 1px 5px 0px #DCDCDC;
        }

        .header-icon-left{
            float:left;
            line-height:40px;
            padding-left: 10px;
            width: 90px;
        }

        .header-icon-right{
            float:right;
            line-height:40px;
            padding-right: 10px;
            width: 90px;
        }

        .header-center{
            color: #333;
            padding-top: 5px;
            margin-bottom: 0px;
        }

        .header-text{
            font-size: 14px;
            font-weight:bold;
            color: #0eAEFF;
            height:40px;
            line-height: 40px;
            text-align: center;
        }

        .header-text-icon{
            margin: 0px;
            font-size: 10px;
            color: #0eAEFF;
            text-align: center;
            display: block;
            top: -22px;
        }

        .item-text{
            font-size: 15px;
            font-weight:bold;
        }

        .item{
            padding-left: 55px;
            padding-right: 30px;
        }

        .item-note{
            color: #0491CF;
            padding-left: 0px;
            padding-right: 10px;
            margin: 0px;
        }

        .item-traffic-text{
            overflow: hidden;
            text-overflow:ellipsis;
            white-space: nowrap;
            width: 100%;
        }

        .header-icon{
            float: left;
            font-size: 30px;
            color: #F57CBF;
            padding-left: 12px;
            padding-top: 10px;
        }

        .header-icon-tr{
            float: left;
            font-size: 25px;
            color: #0491CF;
            padding-left: 12px;
            padding-top: 10px;
        }

        .note{
            color: #999;
            margin: 15px;
        }

    </style>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        function div_collapse(id) {
            list = $("#list"+id);
            header = $("#header"+id);
            if(list.is(':hidden')){
                $("#list"+id).collapse('show');
                header.addClass("header-shadow")
            }else{
                $("#list"+id).collapse('hide');
                header.removeClass("header-shadow")
            }
        }
    </script>
{% endblock %}

{% block content %}
    <div class="container-fluid" style="padding: 10px 0px;height: 100%;width: 100%;">
        {% for itemDay in lyday %}
            {% set day_str = "  第"+loop.index|string+"天" %}
            <div class="row-fluid">
                <div id="header{{ itemDay.id }}" id="header" class="header header-shadow" onclick="div_collapse('{{ itemDay.id }}')" style="height: 40px;" >
                    <p class="header-icon-left fas fa-file-alt" > 行程详情</p>
                    <div class="header-icon-right"><a class="fas fa-home" style="float:right;line-height:40px;" href="http://www.yoqxc.com" ></a></div>
                    <div >
                        <p class="header-text">{{ day_str }} {{ itemDay.name }}</p>
                        <p class="header-text-icon glyphicon glyphicon-chevron-down" ></p>
                    </div>
                </div>
                <div id="list{{ itemDay.id }}" class="collapse in" >
                    <br>
                    {% for itemPoint in lypoint %}
                        {% if itemPoint.did == itemDay.id %}
                            {% if itemPoint.transport == "自驾" %}
                                {% set icon_class = "fas fa-car" %}
                            {% elif itemPoint.transport == "的士" %}
                                {% set icon_class = "fas fa-taxi" %}
                            {% elif itemPoint.transport == "巴士" %}
                                {% set icon_class = "fas fa-bus" %}
                            {% elif itemPoint.transport == "地铁" %}
                                {% set icon_class = "fas fa-subway" %}
                            {% elif itemPoint.transport == "火车" %}
                                {% set icon_class = "fas fa-train" %}
                            {% elif itemPoint.transport == "飞机" %}
                                {% set icon_class = "fas fa-plane" %}
                            {% elif itemPoint.transport == "步行" %}
                                {% set icon_class = "fas fa-blind" %}
                            {% else %}
                                {% set icon_class = "fas fa-car" %}
                            {% endif %}

                            {% if itemPoint.type != "自定义-交通" %}
                                {% set icon_header_class = "header-icon fab fa-telegram" %}
                            {% elif itemPoint.tptrainsp == "自驾" %}
                                {% set icon_header_class = "header-icon-tr fas fa-car" %}
                            {% elif itemPoint.tptrainsp == "的士" %}
                                {% set icon_header_class = "header-icon-tr fas fa-taxi" %}
                            {% elif itemPoint.tptrainsp == "巴士" %}
                                {% set icon_header_class = "header-icon-tr fas fa-bus" %}
                            {% elif itemPoint.tptrainsp == "地铁" %}
                                {% set icon_header_class = "header-icon-tr fas fa-subway" %}
                            {% elif itemPoint.tptrainsp == "火车" %}
                                {% set icon_header_class = "header-icon-tr fas fa-train" %}
                            {% elif itemPoint.tptrainsp == "飞机" %}
                                {% set icon_header_class = "header-icon-tr fas fa-plane" %}
                            {% else %}
                                {% set icon_header_class = "header-icon fab fa-telegram" %}
                            {% endif %}
                            <span class="{{ icon_header_class }}" ></span>
                            <div id="point" class="item" >
                                <p class="item-text">{{ itemPoint.name }}</p>
                                <p style="color: #909090;" >{{ itemPoint.event }}</p>
                                {% if itemPoint.type != "自定义-交通" %}
                                    <p class="item-traffic-text item-note {{ icon_class}}"  > {{ itemPoint.treventds }}</p>
                                    {% if itemPoint.trevent != "" %}
                                        <p class="item-note" style="color: #909090;">备注：{{ itemPoint.trevent }}</p>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <hr style="margin-left: 25px;" >
                        {% endif %}
                    {% endfor %}
                    {% if itemDay.dayevent != "" %}
                        <div id="note">
                            <hr style="margin-bottom: 0px;margin-top: -21px;" >
                            <p class="note">备注：{{ itemDay.dayevent }}</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        <div class="row-fluid" style="padding-top: 20px;">
            <div class="header" style="height: 60px;box-shadow: 0px 1px 4px 0px #DCDCDC;" >
                <span class="fas fa-cart-plus" style="color: #ec5407;font-size: 25px;float: right;padding-right:20px;line-height: 60px;" >
                    <a href="https://shop152795826.taobao.com" style="color: #0491CF;font-size: 15px;padding-right: 10px;"><u>有趣行程户外店</u></a>
                </span>
            </div>
        </div>
    </div>
{% endblock %}