{% extends "bootstrap/base.html" %}

{% block title %}旅游行程宝{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .list-group-item-separate {
            margin-bottom: 5px;
        }
        .list-group-item-nav.active{
            border: none;
            color: inherit;
            background-color: inherit;
        }
        html,body{
                height: 100%;
                margin: 0;
                padding: 0;
        }
    </style>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="application/javascript" src="../static/dataapi.js"></script>
    <script>

        function do_save() {

        }
        function do_addDay() {
            len = $("#listDays a").length+1;
            strDayDec = "第"+len+"天";
            tempId = new Date().getTime();
            dayId = "day"+tempId;
            tabId = "tab"+tempId;
            strElement = '<a id="'+dayId+'" href="#'+tabId+'" class="list-group-item list-group-item-nav text-center active" data-toggle="tab" onclick="do_itemAcitve(this)">'+strDayDec+
                            '<span class="glyphicon glyphicon-trash" onclick="do_delDay(\''+tempId+'\')"></span>'+
                         '</a>';
            $('#listDays a').removeClass('active');
            $("#listDays").append(strElement);

            strElement = '<div class="tab-pane active" id="'+tabId+'">'+
                            '<h4 style="padding-left: 20px;" ><span class="glyphicon glyphicon-calendar"></span>   '+strDayDec+'</h4>'+
                         '</div>';
            $('#tabContent div').removeClass('active');
            $("#tabContent").append(strElement);
        }

        function do_itemAcitve(item) {
{#            $('#listDays a').removeClass('active');#}
{#            $('#tabContent div').removeClass('active');#}
{#            $(item).addClass('active');#}
        }

        function do_delDay(selector) {
            $("#day"+selector).remove();
            $("#tab"+selector).remove();
        }
        function do_addPoint(pid) {
            pName = $("#"+pid+" h4.list-group-item-heading:first").text();
            pDec = $("#"+pid+" p.list-group-item-text:first").text();
            temp = new Date().getTime();
            decId = "dec"+temp
            listId = "list"+temp;
            strElement ='<div id="'+listId+'" class="list-group" style="padding-left: 0px;padding-right: 0px;width: 100%;" >'+
                           '<a href="#" class="list-group-item list-group-item-separate" >'+
                                '<span class="glyphicon glyphicon-trash" style="float: right;margin-right: 10px" onclick="do_delPoint(\''+listId+'\')" ></span>'+
                                '<span class="glyphicon glyphicon-edit"  style="float: right;margin-right: 20px" onclick="do_editDec(\''+decId+'\')" ></span>'+
                                '<h4 class="list-group-item-heading">'+pName+'</h4>'+
                                '<p id="'+decId+'" class="list-group-item-separate" style="display: none;">'+pDec+'</p>'+
                                '<div class="list-group-item-text" style="margin-bottom: 20px;">'+
                                    '<span class="glyphicon glyphicon-dashboard" style="float: left;margin-left: 15px">300米</span >'+
                                    '<span class="glyphicon glyphicon-time" style="float: left;margin-left: 15px">5分钟</span>'+
                                    '<span class="glyphicon glyphicon-edit" style="float: left;margin-left: 15px" data-toggle="modal" data-target="#myModal" >编辑交通</span>'+
                                '</div>'+
                           '</a>'+
                        '</div>';
            $("#tabContent .tab-pane.active:first").append(strElement);
        }

        function do_delPoint(listid) {
            $("#"+listid).remove();
        }

        function do_editDec(decId) {
            if($("#"+decId).is(':hidden')){
                $("#"+decId).show();
            }else{
                $("#"+decId).hide();
            }
        }


    </script>
{% endblock %}

{% block navbar %}
    <div class="container-fluid" >
        <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" >
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">西藏9日游</a>
            </div>
            <div class="collapse navbar-collapse" style="padding-left: 100px;">
                <ul class="nav navbar-nav">
                    <li><a href="#road"><span class="glyphicon glyphicon-tags"></span> 我的行程</a></li>
                    <li><a href="#road"><span class="glyphicon glyphicon-plus-sign"></span> 新建行程</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid"  style="padding-top: 45px;height: 100%; ">
        <div class="row" style="padding-left: 5px;padding-top: 5px;height: 100%">
            <div class="col-xs-6 col-md-7" style="padding-top: 10px;padding-left: 0px;padding-right: 5px;height: 100%;">
                <div class="panel panel-default " style="height: 100%;" >
                    <div class="panel-heading" style="padding: 0px;">
                        <div class="navbar navbar-default" role="navigation" style="margin-bottom: 0px;border: 0px;">
                            <div class="navbar-header">
                                <a class="navbar-brand" href="#">城市</a>
                            </div>
                            <ul class="nav navbar-nav">
                                <li class="active" onclick="pointclick()"><a  href="#camera"><span class="glyphicon glyphicon-camera"></span> 景点</a></li>
                                <li><a href="#shop"><span class="glyphicon glyphicon-cutlery"></span> 美食</a></li>
                                <li onclick="hotelclick()"><a href="#support"><span class="glyphicon glyphicon-home"></span> 酒店</a></li>
                                <form class="navbar-form navbar-left" role="search">
                                    <div class="input-group">
                                      <input id="apitxtin" type="text" class="form-control" placeholder="输入查询内容">
                                      <span class="input-group-btn">
                                        <button class="btn btn-default" type="button">查询</button>
                                      </span>
                                    </div>
                                </form>
                            </ul>
                        </div>
                    </div>
                    <div id="dipIn" class="list-group" style="padding-left: 0px;padding-right: 0px;overflow-y:auto;height: 85%;">
                       <a id="10083" href="#" class="list-group-item" >
                            <div class="media">
                               <div class="media-left">
                                    <img src="" style="width: 85px;height: 85px;">
                                </div>
                                <div class="media-body media-middle">
                                    <h4 class="list-group-item-heading">玛吉阿米</h4>
                                    <p class="list-group-item-text">八廓街上东南转角处是有名的玛吉阿米餐厅。玛吉阿米出自六世达赖喇叭仓央嘉措的情诗。餐厅有非常浓郁的藏式风情，藏餐是改良后的，更加适应游客的口味，但是价格较贵。茶几上有很多留言本，写着世界各地很多旅行者的感受。在里面消费的话，也可以写上自己的心情，什么都行。</p>
                                </div>
                               <div class="media-right media-middle">
                                    <span class="badge" onclick="do_addPoint('10083')"><h4>+</h4></span>
                                </div>
                            </div>
                       </a>
                       <a id="10084" href="#" class="list-group-item">
                            <span class="badge" onclick="do_addPoint('10084')"><h4>+</h4></span>
                            <h4 class="list-group-item-heading">布达拉宫</h4>
                            <p class="list-group-item-text">看到了美丽而雄伟的布达拉宫，在蓝天白云的映衬下格外辉煌，而且很是壮观。也是藏族人民最神圣的地方，很多虔诚的信徒。承载的是历史变革之中的柔情。藏族同胞都很淳朴，肃穆的心情。</p>
                       </a>
                    </div>
                </div>
            </div>
            <div class="col-xs-6  col-md-5 " style="padding-left: 0px;padding-right: 0px;border: 1px solid #ddd;height: 100%;" >
                <div style="padding-right: 0px;border-bottom: 1px solid #ddd;background-color: #f5f5f5;">
                    <button type="button" class="btn btn-default" style="margin: 10px;" onclick="do_addDay()"> 加一天 </button>
                    <button type="button" class="btn btn-default" style="margin: 10px;float: right;" onclick="do_view()"> 完成查看 </button>
                </div>
                <div style="padding: 5px;">
                    <div class="col-xs-4 col-md-2" style="padding-left: 0px;padding-right: 0px;padding-bottom: 5px;" >
                        <ul id="listDays" class='list-group list-group-flush' ></ul>
                    </div>
                    <div id="tabContent" class='tab-content col-xs-8 col-md-10' style="padding-left: 5px;padding-right: 0px;">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
            <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button>
                    <h4 class="modal-title" id="myModalLabel">编辑交通</h4>
                  </div>
                  <div class="modal-body">
                        <form class="bs-example bs-example-form" role="form">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <input type="radio" name="identity" checked="checked" >步行
                                    <input type="radio" name="identity" >公交
                                    <input type="radio" name="identity" >出租车
                                </span>
                                <input type="text" class="form-control" placeholder="输入公里数" >
                                <input type="text" class="form-control" placeholder="输入所需时间" >
                            </div>
                        </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary">提交更改</button>
                  </div>
              </div>
            </div>
        </div>
    </div>
{% endblock %}