{% extends "bootstrap/base.html" %}

{% block title %}旅游行程宝{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .list-group-item-separate {
            margin-bottom: 8px;
        }
        html,body{
                height: 100%;
                margin: 0;
                padding: 0;
                overflow-y: hidden;
        }
    </style>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="application/javascript" src="../static/dataapi.js"></script>
    <script>

        function do_addDay(proId) {
            len = $("#listDays a").length+1;
            data = {"daynum":len,"proId":proId}
            var url = "/do_addDay";
            $.post(url,data,function(id){
                if(id>0){
                    strDayDec = "第"+len+"天";
                    dayId = "day"+id;
                    tabId = "tab"+id;
                    strElement = '<a id="'+dayId+'" href="#'+tabId+'" class="list-group-item list-group-item-nav text-center active" data-toggle="tab" onclick="do_itemAcitve(this)">'+strDayDec+
                                    '<span class="glyphicon glyphicon-trash" onclick="do_delDay(\''+id+'\')"></span>'+
                                 '</a>';
                    $('#listDays a').removeClass('active');
                    $("#listDays").append(strElement);

                    strElement = '<div class="tab-pane fade in active" id="'+tabId+'">'+
                                    '<h4 style="padding-left: 20px;" ><span class="glyphicon glyphicon-calendar"></span>   '+strDayDec+'</h4>'+
                                    '<div class="list-group" style="padding-left: 0px;padding-right: 5px;margin-bottom:0px;width: 100%;" >'+
                                    '</div>'+
                                 '</div>';
                    $('#tabContent div').removeClass('active');
                    $("#tabContent").append(strElement);
                }
            });



        }

        function do_itemAcitve(item) {
{#            $('#listDays a').removeClass('active');#}
{#            $('#tabContent div').removeClass('active');#}
{#            $(item).addClass('active');#}
        }

        function do_delDay(selector) {
            $("#day"+selector).remove();
            $("#tab"+selector).remove();
        }

        function do_addPoint(pointId) {
            pName = $("#"+pointId+" h4.list-group-item-heading:first").text();
            pDec = $("#"+pointId+" p.list-group-item-text:first").text();
            temp = new Date().getTime();
            decId = "dec"+temp
            itemId = "item"+temp;
            strElement =  '<a id="'+itemId+'"  href="#" class="list-group-item list-group-item-separate" >'+
                                '<span class="glyphicon glyphicon-trash" style="float: right;margin-right: 10px" onclick="do_delPoint(\''+itemId+'\')" ></span>'+
                                '<span class="glyphicon glyphicon-edit"  style="float: right;margin-right: 20px" onclick="do_editDec(\''+decId+'\')" ></span>'+
                                '<h4 class="list-group-item-heading">'+pName+'</h4>'+
                                '<p id="'+decId+'" class="list-group-item-separate" style="display: none;">'+pDec+'</p>'+
                                '<div class="list-group-item-text" style="margin-bottom: 20px;">'+
                                    '<span class="glyphicon glyphicon-dashboard" style="float: left;margin-left: 15px">300米</span >'+
                                    '<span class="glyphicon glyphicon-time" style="float: left;margin-left: 15px">5分钟</span>'+
                                    '<span class="glyphicon glyphicon-edit" style="float: left;margin-left: 15px" data-toggle="modal" data-target="#editTrafficModal" >编辑交通</span>'+
                                '</div>'+
                           '</a>';

            $("#tabContent .tab-pane.active:first > div.list-group:first").append(strElement);
        }

        function do_delPoint(itemid) {
            $("#"+itemid).remove();
        }

        function do_editDec(decId) {
            if($("#"+decId).is(':hidden')){
                $("#"+decId).show();
            }else{
                $("#"+decId).hide();
            }
        }

        function do_savePointTL() {
{#            do_travelError();#}
            var url = "/do_editDay";
            var params = $("#formPointTL").serializeArray();
            var data = {};
            for( x in params ){
                alert(params[x].name+" "+params[x].value);
                data[params[x].name] = params[x].value;
             }
            $.post(url,data,function(result){
               if (result['val'] <= 0){
                   do_travelError(result['msg']);
               } else {
                    window.location.href="/seach/"+result['val'];
               }
            });
        }
    </script>
{% endblock %}

{% block navbar %}
{#    <div class="container-fluid" >#}
        <div class="navbar navbar-fixed-top navbar-inverse" role="navigation" >
            <div class="navbar-header">
                <a class="navbar-brand" href="#">自助游行程宝</a>
            </div>
            <ul class="nav navbar-nav">
                <li id="liViewTravel" ><a href="/view" ><span class="glyphicon glyphicon-tags"></span> 我的行程</a></li>
            </ul>
        </div>
{#    </div>#}
{% endblock %}

{% block content %}
    <div class="container-fluid"  style="padding-top: 45px;padding-bottom:5px;height: 100%;">
        <div id="createTravel" class="row" style="padding-left: 5px;padding-top: 5px;height: 100%">
            <div class="col-xs-6 col-md-7" style="padding-top: 10px;padding-left: 0px;padding-right: 5px;height: 100%;">
                <div class="panel panel-default " style="height: 100%;" >
                    <div class="panel-heading" style="padding: 0px;">
                        <div class="navbar navbar-default" role="navigation" style="margin-bottom: 0px;border: 0px;">
                            <div class="navbar-header">
                                <a class="navbar-brand" href="#">城市</a>
                            </div>
                            <ul class="nav navbar-nav">
                                <li class="active" onclick="pointclick()"><a  href="#camera"><span class="glyphicon glyphicon-camera"></span> 景点</a></li>
                                <li onclick="hotelclick()"><a href="#support"><span class="glyphicon glyphicon-home"></span> 酒店</a></li>
                                <form class="navbar-form navbar-left" role="search">
                                    <div class="input-group">
                                      <input id="apitxtin" type="text" class="form-control" placeholder="输入查询内容">
                                      <span class="input-group-btn">
                                        <button class="btn btn-default" type="button">查询</button>
                                      </span>
                                    </div>
                                </form>
                            </ul>
                        </div>
                    </div>
                    <div id="dipIn" class="list-group" style="padding-left: 0px;padding-right: 0px;overflow-y:auto;max-height: 90%;">
                       <a id="10083" href="#" class="list-group-item" >
                            <div class="media">
                               <div class="media-left media-middle">
                                    <img src="" style="width: 85px;height: 85px;">
                                </div>
                                <div class="media-body media-middle">
                                    <h4 class="list-group-item-heading">玛吉阿米</h4>
                                    <p class="list-group-item-text" >八廓街上东南转角处是有名的玛吉阿米餐厅八廓街上东南转角处是有名的玛吉阿米餐厅八廓街上东南转角处是有名的玛吉阿米餐厅八廓街上东南转角处是有名的玛吉阿米餐厅八廓街上。</p>
                                </div>
                               <div class="media-right media-middle">
                                    <span class="badge" style="width: 50px;margin: 10px 50px;border-radius: 50px;" onclick="do_addPoint('10083')"><h4>+</h4></span>
                                </div>
                            </div>
                       </a>
                    </div>
                    <div id="dipFYIn" style="text-align:right;" ></div>
                </div>
            </div>
            <div class="col-xs-6  col-md-5 " style="padding-top: 10px;padding-left: 0px;padding-right: 5px;height: 100%;" >
                <div class="panel panel-default " style="height: 100%;" >
                    <div class="panel-heading" style="padding: 0px;">
                        <span class="btn btn-default" style="margin: 8px;"  >西藏9日游</span>
                        <button type="button" class="btn btn-default" style="margin: 8px;float: right;" data-toggle="modal" > 完成查看 </button>
                    </div>
                    <div style="padding: 0px;height: 100%;">
                        <div class="col-xs-4 col-md-2" style="padding: 0px;height: 100%;border-right: 1px solid #ddd;" >
                            <ul id="listDays" class='list-group list-group-flush' style="padding: 5px;margin-bottom:10px;overflow-y:auto;max-height: 90%;" >
                                <a  href="#" class="list-group-item list-group-item-nav text-center" data-toggle="tab" >
                                    第1天<span class="glyphicon glyphicon-trash" style="float: right;"></span>
                                    <span class="center-block " style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap; " >
                                        拉萨拉萨拉萨拉萨拉萨拉萨拉萨拉萨拉萨拉萨拉萨拉萨</span>
                                    </span>
                                </a>
                            </ul>
                            <span type="button" class="btn btn-default center-block" style="margin: 5px;" onclick="do_addDay({{ proId }})"> 加一天 </span>
                        </div>
                        <div class="col-xs-8 col-md-10" style="padding-left: 5px;padding-right: 0px;height: 100%;">
                            <div id="tabContent" class='tab-content' style="overflow-y:auto;max-height: 90%;">
                            </div>
                            <p style="margin-left: 15px;margin-top: 10px;">添加自定义 <a href="javascript:;">景点</a>、 <a>餐馆</a>、 <a>交通</a>、 <a>酒店</a>、 <a>备注</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editTrafficModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
        <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button>
                <h4 class="modal-title" id="myModalLabel">编辑交通</h4>
              </div>
              <div class="modal-body">
                       <ul id="pointTLTab" class="nav nav-tabs">
                            <li class="active"><a href="#TRbs" data-toggle="tab"><img src="../static/img/bs.png" height="30" width="30"/></a></li>
                            <li><a href="#TRds" data-toggle="tab"> <img src="../static/img/ds.png" height="30" width="30"/></a></li>
                            <li><a href="#TRhc" data-toggle="tab"> <img src="../static/img/hc.png" height="30" width="30"/></a></li>
                            <li><a href="#TRdt" data-toggle="tab"> <img src="../static/img/dt.png" height="30" width="30"/></a></li>
                        </ul>
                          <form id="formPointTL" class="bs-example bs-example-form" role="form">
                                <div class="input-group ">
                                    <span class="input-group-addon">交通时间</span>
                                    <input id="formPointTLText" type="text" required="true" class="form-control" name="trtime" placeholder="输入交通时间">
                                </div>
                                    <span class="help-block"></span>
                                <div class="input-group">
                                    <span class="input-group-addon">交通备注</span>
                                        <textarea id="formPointTLTextArea" rows="3" class="form-control" name="trevent" placeholder="输入交通备注"></textarea>
                                </div>
                           </form>
              </div>
                 <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="do_savePointTL()" >提交更改</button>
                </div>
              </div>
          </div>
        </div>

{% endblock %}