{% extends "bootstrap/base.html" %}

{% block title %}旅游行程宝{% endblock %}
{% block scripts %}
{{ super() }}
<script type="application/javascript" src="../static/dataapi.js"></script>
{% endblock %}

{% block content %}
<div class="media">
  <div class="media-left media-middle">
      <img src="" style="width: 130px;height: 130px;">
  </div>
  <div class="media-body">
    <h4 class="media-heading">Middle aligned media</h4>asdasdasdasasdasdasdasasdasdasdasasdasdasdasasdasdasdasasdasdasdasasdasdasdasasdasdasdasasdasdasdas
  </div>
</div>
{% endblock %}
