{% extends "bootstrap/base.html" %}

{% block head %}
    {{ super() }}
    <style type="text/css">

        .icon-day{
            position:absolute;
            top:0px;
            right: 80px;
            font-size: 18px;
        }

        .icon-edit{
            position:absolute;
            top:0px;
            right: 40px;
            font-size: 18px;
        }

        .icon-del{
            position:absolute;
            top:0px;
            right: 0px;
            font-size: 18px;
        }

        html,body{
                height: 100%;
                margin: 0;
                padding: 0;
                overflow-y: hidden;
        }
    </style>
{% endblock %}


{% block scripts %}
    {{ super() }}
    <script>

        function do_addProject() {
            clearModal();
            do_travelError();
            modalTravel = $("#modalTravel");
            data = {"type":"add", "url":"/do_createTravel"};
            $("#btnSaveTravel").one("click", data, do_saveTravel);
            $("#modalLabel").text("新建行程");
            modalTravel.modal('show');
        }

        function  do_editTravel(id) {
            modalTravel = $("#modalTravel");
            data = {"id":id, "type":"edit", "url":"/do_editTravel/"+id};

            proName = $("#"+id+" p[id='txtProName']").text()
            proDay = $("#"+id+" p[id='txtProDay']").text()
            proEvent = $("#"+id+" p[id='txtProEvent']").text().substring(3)
            proPrice = $("#"+id+" p[id='txtProPrice']").text().substring(3)
            $("#formTravelText").val(proName)
            $("#formTravelDay").val(proDay)
            $("#formTravelPrice").val(proPrice)
            $("#formTravelTextArea").val(proEvent)

            $("#btnSaveTravel").one("click", data, do_saveTravel);
            $("#modalLabel").text("修改行程");
            modalTravel.modal('show');
        }

        function do_toTravel(id) {
            window.location.href = "/seach/" + id;
        }

        function clearModal() {
            $("#formTravelText,#formTravelDay,#formTravelPrice,#formTravelTextArea").val("")
        }

        function do_search(txtId) {
            searchVal = $("#"+txtId).val()
            data = {"val":searchVal}
            url = "/do_search_travel";
            $.post(url,data,function(result){
                $("#viewTravel").empty();
                $("#viewTravel").append(result);
            });
        }
    
        g_TravelData=false;

        function do_saveTravel(event) {
            var url = event.data.url;
            var params = $("#formTravel").serializeArray();
            var data = {};
            for( x in params ){
                data[params[x].name] = params[x].value;
             }
            if(!data["name"]){
                do_travelError("计划名称不能为空。");
                return;
            }
            $.post(url,data,function(result){
               if (result['val'] <= 0){
                   do_travelError(result['msg']);
               } else {
                   if(event.data.type == "add") {
                        window.location.href = "/seach/" + result['val'];
                   }else if(event.data.type == "edit") {
                        $("#"+event.data.id+" p[id='txtProName']").text(data.name)
                        $("#"+event.data.id+" p[id='txtProDay']").text(data.day)
                        $("#"+event.data.id+" p[id='txtProEvent']").text("费用:"+data.price)
                        $("#"+event.data.id+" p[id='txtProPrice']").text("行程:"+data.event)
                        modalTravel = $("#modalTravel")
                        if(modalTravel.is(':hidden')){
                            modalTravel.modal('show');
                        }else{
                            modalTravel.modal('hide');
                        }
                   }
               }
            });
        }

        function do_travelError(mes) {
            formTravel = $('#formTravelTip');
            formTravelHelp = $('#formTravelTip > span.help-block:first');
            if(mes)
            {
               formTravel.addClass("has-error");
               formTravelHelp.text(mes);
            }
            else
            {
                formTravel.removeClass("has-error");
                formTravelHelp.text("");
            }
        }

        function do_delTravel(travelId){
            var url = "/do_delTravel/"+travelId;
            $.post(url,null,function(result){
                if(result>0){
                    $("#"+travelId).remove();
                }
            });
        }
        
        function do_reload() {
            location.reload();
        }

    </script>
{% endblock %}

{% block navbar %}
{#    <div class="container-fluid" >#}
        <div class="navbar navbar-fixed-top navbar-inverse" role="navigation" >
            <div class="navbar-header">
                <a class="navbar-brand" href="#" onclick="do_reload()">有趣行程</a>
            </div>
            <ul class="nav navbar-nav">
                <li id="liCreateTravel" ><a href="#" onclick="do_addProject()" ><span class="glyphicon glyphicon-plus-sign"></span> 新建行程</a></li>
                <form class="navbar-form navbar-left" role="search">
                    <div class="input-group">
                      <input id="txtSearch" type="text" class="form-control" placeholder="输入需要查询的行程内容">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button" onclick="do_search('txtSearch')">查询</button>
                      </span>
                    </div>
                </form>
            </ul>
        </div>
{#    </div>#}
{% endblock %}

{% block content %}
    <div class="container-fluid"  style="padding-top: 45px;padding-bottom:5px;height: 100%;">
        <div id="viewTravel" class="row" style="padding-top: 50px;">
            {% include 'list-project.html' %}
        </div>
    </div>

    <div class="modal fade" id="modalTravel" tabindex="10" role="dialog" aria-labelledby="modalLabel" aria-hidden="true" >
        <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button>
                <h4 class="modal-title" id="modalLabel">新建行程</h4>
              </div>
              <div class="modal-body">
                    <form id="formTravel" class="bs-example bs-example-form" role="form">
                        <div id="formTravelTip" class="form-group">
                            <div class="input-group ">
                                <span class="input-group-addon">名称</span>
                                <input id="formTravelText" type="text" required="true" class="form-control" name="name" placeholder="输入计划名称">
                            </div>
                            <span class="help-block"></span>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">天数</span>
                            <input id="formTravelDay" class="form-control" name="day" placeholder="输入建议游玩天数"></input>
                        </div>
                        <br>
                        <div class="input-group">
                            <span class="input-group-addon">费用</span>
                            <input id="formTravelPrice" class="form-control" name="price" placeholder="输入预估费用数"></input>
                        </div>
                        <br>
                        <div class="input-group">
                            <span class="input-group-addon">行程</span>
                            <textarea id="formTravelTextArea" rows="3" class="form-control" name="event" placeholder="输入行程比如：长沙-香港"></textarea>
                        </div>
                    </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button id="btnSaveTravel" type="button" class="btn btn-primary" >保存</button>
              </div>
           </div>
        </div>
    </div>

{% endblock %}