{% extends "bootstrap/base.html" %}

{% block title %}旅游行程宝{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .icon-edit{
            position:absolute;
            top:0px;
            right: 60px;
        }

        .icon-day{
            position:absolute;
            top:0px;
            right: 30px;
        }

        .icon-del{
            position:absolute;
            top:0px;
            right: 0px;
        }

        html,body{
                height: 100%;
                margin: 0;
                padding: 0;
                overflow-y: hidden;
        }
    </style>
{% endblock %}


{% block scripts %}
    {{ super() }}
    <script>

        function do_addProject() {
            do_travelError();
            modalTravel = $("#modalTravel");
            data = {"url":"/do_createTravel"};
            $("#btnSaveTravel").one("click", data, do_saveTravel);
            $("#modalLabel").text("新建行程");
            modalTravel.modal('show');
        }

        function  do_editTravel(id) {
            do_travelError();
            modalTravel = $("#modalTravel");
            data = {"url":"/do_editTravel/"+id};

            proName = $("#txtProName").text()
            proDay = $("#txtProDay").text()
            proEvent = $("#txtProEvent").text()
            proPrice = $("#txtProPrice").text()
            $("#formTravelText").val(proName)
            $("#formTravelDay").val(proDay)
            $("#formTravelPrice").val(proPrice)
            $("#formTravelTextArea").text(proEvent)

            $("#btnSaveTravel").one("click", data, do_saveTravel);
            $("#modalLabel").text("修改行程");
            modalTravel.modal('show');
        }
    
        g_TravelData=false;

        function do_saveTravel(event) {
            var url = event.data.url;
            var params = $("#formTravel").serializeArray();
            var data = {};
            for( x in params ){
                data[params[x].name] = params[x].value;
             }
            if(!data["name"]){
                do_travelError("计划名称不能为空。");
                return;
            }
            $.post(url,data,function(result){
               if (result['val'] <= 0){
                   do_travelError(result['msg']);
               } else {
                    window.location.href="/seach/"+result['val'];
               }
            });
        }

        function do_travelError(mes) {
            formTravel = $('#formTravelTip');
            formTravelHelp = $('#formTravelTip > span.help-block:first');
            if(mes)
            {
               formTravel.addClass("has-error");
               formTravelHelp.text(mes);
            }
            else
            {
                formTravel.removeClass("has-error");
                formTravelHelp.text("");
            }
        }

        function do_delTravel(travelId){
            var url = "/do_delTravel/"+travelId;
            $.post(url,null,function(result){
                if(result>0){
                    $("#"+travelId).remove();
                }
            });
        }

    </script>
{% endblock %}

{% block navbar %}
{#    <div class="container-fluid" >#}
        <div class="navbar navbar-fixed-top navbar-inverse" role="navigation" >
            <div class="navbar-header">
                <a class="navbar-brand" href="#">自助游行程宝</a>
            </div>
            <ul class="nav navbar-nav">
                <li id="liCreateTravel" ><a onclick="do_addProject()" ><span class="glyphicon glyphicon-plus-sign"></span> 新建行程</a></li>
            </ul>
        </div>
{#    </div>#}
{% endblock %}

{% block content %}
    <div class="container-fluid"  style="padding-top: 45px;padding-bottom:5px;height: 100%;">
        <div id="viewTravel" class="row" style="padding-top: 50px;">
            {% for item in items %}
                <div id="{{ item.id }}" class="col-xs-12 col-sm-6 col-md-3" style="margin-bottom: 20px;">
                    <div class="btn btn-default center-block list-group-item-{{("success","info","warning","danger")|random()}}" style="width:220px;">
                        <div style="position:relative;">
                            <a class="icon-edit glyphicon glyphicon-edit" onclick="do_editTravel({{ item.id }})"></a>
                            <a class="icon-day glyphicon glyphicon-share"  href="/seach/{{ item.id }}" ></a>
                            <a class="icon-del glyphicon glyphicon-trash" onclick="do_delTravel({{ item.id }})"></a>
                            <p class="text-center" style="font-size:80px;font-weight:bold;" >{{item.name|truncate(1,true,"")}}</p>
                            <p id="txtProName" class="text-center" style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;" >{{item.name}}</p>
                            <p id="txtProDay" style="font-size:15px;font-weight:bold;position:absolute;right: 0px;top: 70px;">{{ item.day }}</p>
                            <p id="txtProEvent" style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;" >行程:{{ item.event }}</p>
                            <p id="txtProPrice" style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;" >费用:{{ item.price }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="modal fade" id="modalTravel" tabindex="10" role="dialog" aria-labelledby="modalLabel" aria-hidden="true" >
        <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button>
                <h4 class="modal-title" id="modalLabel">新建行程</h4>
              </div>
              <div class="modal-body">
                    <form id="formTravel" class="bs-example bs-example-form" role="form">
                        <div id="formTravelTip" class="form-group">
                            <div class="input-group ">
                                <span class="input-group-addon">名称</span>
                                <input id="formTravelText" type="text" required="true" class="form-control" name="name" placeholder="输入计划名称">
                            </div>
                            <span class="help-block"></span>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">天数</span>
                            <input id="formTravelDay" class="form-control" name="day" placeholder="输入建议游玩天数"></input>
                        </div>
                        <br>
                        <div class="input-group">
                            <span class="input-group-addon">费用</span>
                            <input id="formTravelPrice" class="form-control" name="price" placeholder="输入预估费用数"></input>
                        </div>
                        <br>
                        <div class="input-group">
                            <span class="input-group-addon">行程</span>
                            <textarea id="formTravelTextArea" rows="3" class="form-control" name="event" placeholder="输入行程比如：长沙-香港"></textarea>
                        </div>
                    </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button id="btnSaveTravel" type="button" class="btn btn-primary" >保存</button>
              </div>
           </div>
        </div>
    </div>

{% endblock %}